a {
    color: white;
}

.box1-comentarios {
    width: 100%;
    display: flex;
    justify-content: center;

}

.box2-comentarios {
    background-image: url('../../assets/batman.background4.jpg');
   width: 90%;  
   border-radius: 25px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

.coment-box {
display: grid;
grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 20px;
    align-items: center;
    width: 100%;
}

.coment {
    height: 330px;
    width: 80%;    
    display: flex;
    flex-direction: column;
    margin: 40px;
    border: 1.5px solid;
    border-color: #fff;
    box-shadow: 10px 10px 15px;
    border-radius: 12px;
    transition: 0.5s;

}

.coment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
}

.coment-user {
    color: #fff;
    width: 50%;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.coment-rate {
    width: 50%;
    height: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;

    align-items: center;
    
}

.comentarios-logo {
    position: relative;
    right: 8px;     
}

.coment-text {
    
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
}

.coment:hover {
    transform: scale(1.05);
    border-color: red;
}
